[Unit]
Description=Bittorrent Sync service for %i
After=network.target
 
[Service]
Nice=19
IOSchedulingClass=idle       
IOSchedulingPriority=7
User=%i
ExecStart=/opt/btsync/bin/btsync --config /home/%i/.config/btsync/btsync.conf --nodaemon
Restart=on-abort

[Install]
WantedBy=multi-user.target
